!!!
%html
  %head
    %title PersonalWebsite
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
  = render partial: 'application/navigation'
  %body
    = content_for?(:content) ? yield(:content) : yield
  = javascript_include_tag 'application'
